.wallSection
{
    display:flex;
    flex-direction: column;
    width: 600px;
    max-width: 600px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.wallWrapper
{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    padding: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(100, 100, 100, 0.1);
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}
.wallWrapper:hover
{
    background-color: rgba(83, 100, 113,.1);
}
.wall__Tweet
{
    display:flex;
    flex-direction: column;
    flex: 1;
    margin-inline-start: 1rem;
}
.wall__Info__Tweet
{
    display: flex;
    align-items:center;
    margin-bottom: 1rem
}
.wall__Info__Tweet > h3
{
    @apply font-familyPrimary;
    font-size: .9rem;
    font-weight: 600;
    color: #0f1419;
    margin-inline-end: 3px;
}
.wall__Info__Tweet__verified
{
    @apply text-primary;
    margin-inline-end: .3rem;
}
.wall__Info__Tweet__time
{
    color:rgb(83, 100, 113);
    font-size: .8rem;
    font-weight: 500;
}
.Wall__Image__Wrapper
{
    width:100%;
}
.swiper
{
    max-width: 493px;
    max-height: 300px;
    height: 300px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
}
.swiper-slide 
{
    width: 100%;
    margin-right: 50px;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
}
.swiper-slide > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer__Tweeting
{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width:65%;
}
.footer__Tweeting >div 
{
    display: flex;
    color: rgb(83, 100, 113);
    font-size:1rem;
    align-items:center;
}
.LikedActive
{
    fill: #ad0f4c !important;
}
.footer__Tweeting >div >svg
{
    width: 20px;
    height: 20px;
    fill: rgb(83, 100, 113);
    cursor: pointer;
    margin-inline-end: .7rem;
}
.footer__Tweeting > div:first-of-type svg:hover
{
    fill:#1d9bf0;
}
.footer__Tweeting > div:nth-of-type(2) svg:hover
{
    fill:#ad0f4c;
}
.footer__Tweeting > div:last-of-type svg:hover
{
    fill:#0fad71;
}