main
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0 4.5%;
}

@media only screen and (max-width:950px) 
{
    main
    {
        grid-template-columns: 1fr 7fr;
    }
}
@media only screen and (max-width:520px) 
{
    main
    {
        grid-template-columns: 1fr;
    }
}